    <!-- <nz-modal
      nzWrapClassName="vertical-center-modal"
      [(nzVisible)]="isVisibleMiddle"
      [nzTitle]="title"
      [nzContent]="modalContent"
      nzClosable="false"
      [nzFooter]="modalFooter"
      (nzOnCancel)="handleCancel()"
    >
      <ng-template #modalTitle>{{title}}</ng-template>

      <ng-template #modalContent>
        <p>{{message}}</p>
      </ng-template>

      <ng-template #modalFooter>
        <button class="compute-button" (click)="handleOkMiddle()" style="width: 102px;" bps-button bpsType="variation-1">Cancel</button>
        <button class="compute-button" (click)="handleCancelMiddle()" style="width: 102px" bps-button bpsType="variation-1">Ok</button>
      </ng-template>
    </nz-modal> -->