.main-container {
    height: calc(100vh - 75px);
    width: 100%; 
    position: absolute; 
    top: 38px; 
    left: 0px; 
    z-index: 3;
    background-color: #999;
    max-height: 0px;
    overflow: hidden;
}

.opening-animation {
    max-height: calc(100vh - 75px);
    transition: max-height 0.5s ease-out;
}

.closing-animation {
    max-height: 0px;
    transition: max-height 0.3s linear;
}